.navbar {
  background: linear-gradient(to right, #6a82fb, #fc5c7d); /* Updated gradient colors */
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center; /* Center navbar content */
  align-items: center;
  height: 85px; /* Fixed navbar height */
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: white; /* Updated text color */
}

.navbar-nav {
  padding: 0 15px;
}

.nav-link {
  color: white; /* Updated text color */
  margin: 0 10px; /* Adjust spacing */
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-link:hover {
  color: #f8f9fa; /* Lighter color on hover */
}

.btn-outline-light {
  color: white;
  border-color: white; /* Adjust to match the text color */
}

.btn-outline-light:hover {
  background-color: white;
  color: #6a82fb; /* Change text color to match the gradient */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px; /* Smaller text on small screens */
  }

  .navbar-nav {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0.5rem 2rem; /* More padding on large screens */
  }

  .navbar-nav {
    padding: 0 20px;
  }
}
